ul,li{margin: 0;padding: 0;list-style: none;}
.pageMenu li::selection{background:transparent;}
.clearfix{zoom:1;}
.clearfix:after{content:"";display: block;clear: both;}
.pageDiv li{margin-bottom: 10px;border:1px solid #dbdbdb;width: 21.5%;margin-right: 1.25%;float:left;margin-top: 10px;padding: 1%;text-align: center;}
.hide{display: none;}

.page{text-align: center;width: 100%;margin: 0 auto;}
.pageMenu{display: inline-block;width: 90%;}

.pageMenu li{border: solid thin #ddd;margin: 3px;float: left;padding: 5px 10px;cursor: pointer;background: #fff;}
.pageMenu li.firstPage{}
.pageMenu li.prevPage{}
.pageMenu li.pageNum{}
.pageMenu li.nextPage{}
.pageMenu li.lastPage{}
.pageMenu li.disabled{ background-color: #DDDDDD;   cursor: not-allowed;}
.pageMenu li.active{ border: solid thin #0099FF;background-color: #0099FF;color: white;}
.pageMenu li.last{background: transparent;border:0;position: relative;top: -4px;}
.page .keuInput{padding: 0px;margin-bottom: 0px;width: 40px;border: solid thin #ddd;height: 30px;outline: none;text-align: center;}
.last{
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.page .jumpTo{}
.page .jumpTo:hover{cursor: pointer;background-color: rgba(227,171,10,0.58)}