/*------------------------------------------------------------------
[Color codes]
Buttons, etc:	#726FB9 (blue)
hover color:	#fed136 (yellow)
-------------------------------------------------------------------*/
/* main font for menu. */
@import url(http://fonts.googleapis.com/css?family=Lora:400|Raleway:100,200,300,400,500,700,800);
/*- General -*/
body {
	font-family: "Microsoft YaHei UI","Raleway", Sans-serif;
	-webkit-font-smoothing: antialiased;
}
*{
	margin:0;
	padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	letter-spacing: -0.04em;
	font-weight: 700;
	font-style: normal;
	font-size: 18px;
	font-family: "Microsoft YaHei", Sans-serif;
	color: #4A4A4A;
}
p {
	font-family: 'Arial', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	color: #000;
}
img {
	max-width: 100%;
	height: auto;
}
a {
    color: #16120e;
}
a:hover, a:focus, a:active, a.active {
	color: #fec503;
}
a, a:hover, a:focus, a:active, a.active {
	outline: 0;
	text-decoration: none;
}
::selection {
	text-shadow: none;
	background: #fed136;
}
section {
	padding-bottom: 60px;
}

section.main-slider{
	padding-bottom: 5px;
}

section:last-child {
	padding-bottom: 0px;
}
.copyrights{
	text-indent:-9999px;
	height:0;
	line-height:0;
	overflow:hidden;
}
/*- Reset bootstrap -*/
@media (min-width: 1200px){
.container {
	width: 1260px;
}
.row-gutter {
	margin-left: -20px;
	margin-right: -20px;
}
.col-gutter {
	padding-left: 20px;
	padding-right: 20px;
}
.sidebar-gutter {
	padding-left: 50px;
}
.navbar .navbar-nav > li > a {
	color:#fff;
}
header {
	margin: 130px 0 65px;
	text-align: center;
}
/*- BX Slaider reset -*/
.bxslider {
	margin: 0;
	padding: 0;
	position: relative;
}
.bxslider .slider-item h2{
	margin: 0;
	padding-top: 4px;
	width: 1140px;
	height: 42px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	text-align: center;
	vertical-align: middle;
	position: absolute;
}

.bx-wrapper .bx-viewport {
	left: 0;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
}
.bx-wrapper .bx-prev {
	border: 1px solid #000;
	background-image: none !important;
	background-color: rgba(223, 223, 223, 0.34);
}
.bx-wrapper .bx-next {
	border: 1px solid #000;
	background-image: none !important;
	background-color: rgba(223, 223, 223, 0.34);
}
.bx-wrapper .bx-prev:hover {
	background-color: rgba(223, 223, 223, 0.34);
}
.bx-wrapper .bx-next:hover {
	background-color: rgba(223, 223, 223, 0.34);
}
.bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 50%;
	margin-top: -16px;
	outline: 0;
	width: 50px;
	height: 50px;
	text-indent: inherit;
	z-index: 99;
	color: #fff;
	text-align: center;
	line-height: 50px;
}
.main-slider img {
	position: relative;
}

.slider-item img{
	width: 100%;
	height: 500px;
}
.main-slider h2 {
	position: absolute;
	bottom: 10px;
	left: 10px;
	background-color: rgba(0, 0, 0, 0.52);
	color: #fff;
	padding: 25px 40px;
	font-size: 32px;
}
.main-slider h2 a {
	color: #fff;
}
.main-slider h2 a:hover {
	color: #dfdfdf;
}
/*- article list -*/
.art-item {
	margin-bottom: 10px;
	border-bottom: 1px solid #CECECE;
	width: 100%;
	height: 130px;
}

.art-item .art_item_meta {
	float: right;
	display: inline;
	margin-top: 2px;
	font-weight: 100;
	font-size: 12px;
	width: 640px;
	text-align: right;
	color: #03142c;
	font-family: "Lora";
	font-style: italic;
}

.art-item .art_item_info{
	height: 100px;
	float: right;
	width: 640px;
	display: inline;
	padding-right: 0px;
	padding-bottom: 0px;
	margin-right: 0px;
	margin-bottom: 2px;
}

.art-item .art_item_info h2{

	line-height: 25px;
	max-height: 50px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.art-item .art_item_desc p {
	text-align: justify;
	font-size: 14px;
	font-weight: 300;
	line-height: 25px;
	max-height: 75px;
	margin-bottom: 0px;
	overflow: hidden;
	color: #000;
}
.art-item .art_item_desc a {
	color: #4A4A4A;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.art-item .art_item_desc a:hover  {
	color: #dddddd;
}

.art-item .art_item_meta a {
	color: #0b1929;
}
.art-item .art_item_meta a:hover {
	color: #1ABC9C;
}
.art-item .art_item_meta span {
	padding-left: 10px;
	padding-right: 10px;
}

.art-item .art_item_meta span a{
	color: #061029;
}
.art-item .art_item_meta span:first-child {
	padding-left: 0;
	padding-right: 15px;
}
.art-item .art_item_meta i {
	padding-right: 5px;
	font-size: 12px;
}

.art_item_img{
	float: left;
	display: inline;
}

.art_item_img img{
	height: 120px;
	width: 155px;
	margin-right: 8px;
}

.art-item .art-item-text {
	text-align: left;
}
.art-item .art-item-text p {
	text-align: justify;
	font-size: 17px;
	font-weight: 400;
	line-height: 28px;
	color: #000;
	letter-spacing: 0.1px;
	margin-bottom: 30px;
}
/*-  article-*/
.art-detail .art-detail-body {
	text-align: center;
	padding: 0;
}
.art-detail .art-detail-title h2 {
	margin: 0;
	padding: 0;
	font-size: 34px;
	line-height: 49px;
}
.art-detail .art-detail-body p {
	text-align: justify;
	font-size: 20px;
	font-weight: 300;
	line-height: 30px;
	color: #000;
}
.art-detail .art-detail-body a {
	color: #4A4A4A;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.art-detail .art-detail-body a:hover  {
	color: #dddddd;
}
.art-detail .art-meta {
	margin: 5px 0 20px;
	font-weight: 400;
	font-size: 16px;
	color: #B1B1B1;
	font-family: "Lora";
	font-style: italic;
}
.art-detail .art-meta a {
	color: #B1B1B1;
}
.art-detail .art-meta a:hover {
	color: #fed136;
}
.art-detail .art-meta span {
	padding-left: 15px;
	padding-right: 15px;
}
.art-detail .art-meta span:first-child {
	padding-left: 0;
	padding-right: 15px;
}
.art-detail .art-meta i {
	padding-right: 5px;
}
.art-detail .art-meta{
	font-size: 15px;
}

.art-detail .art-detail-text {
	text-align: left;
}
.art-detail .art-detail-text p {
	text-align: justify;
	font-size: 17px;
	font-weight: 400;
	line-height: 28px;
	color: #000;
	letter-spacing: 0.1px;
	margin-bottom: 30px;
}
.section-title {
	margin: 0 0 45px 0;
	border-top: 1px solid #505050;
	font-size: 28px;
	padding-top: 10px;
	font-weight: 300;
	color: #272727;
}

/*- Sidebar -*/

.sidebar-title {
	background-color: #2B2B2B;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 0.8px;
	font-size: 14px;
	padding: 15px 0;
	margin: 0 0 25px;
	font-family: "Raleway", Sans-serif;
}

.sidebar-widget-other{
    width: 100%;
    margin-bottom: 10px;
}

.sidebar-widget-other h3{
    margin: 0 0 0 0;
}

.widget-container{
	height: auto;
	width: 100%;
	max-height: 500px;
	overflow: hidden;
	margin: 0 0 0 0;
    padding: 0 0 0 0;
}

/*- 搜索功能 -*/

.sidebar-widget-search {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.sidebar-widget-search h3{
    margin-bottom: 0px;
}

.search-container {
	background: #DABB52;
	position: relative;
}
.search-container input, .search-container button {
  border: none;
  outline: none;
  border-radius: 3px;
}
.search-container input {
	width: 100%;
	height: 42px;
	background: #F9F0DA;
}
.search-container button {
  height: 26px;
  width: 26px;
  position: absolute;
  top: 8px;
  right: 8px;
  background: #f13332;
  cursor: pointer;
}
.search-container button:before {
  content: "\f105";
  font-family: FontAwesome;
  color: #F9F0DA;
  font-size: 18px;
  font-weight: bold;
}

/*- 文章分类 -*/

.categ_list {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Verdana, Aril", "sans-serif","Raleway", Sans-serif;
	font-size: 18px;
	width: 100%;
	height: auto;
	margin: 0 0 0 0;
	padding: 0;
}
.categ_list li{
	width: 100%;
	display: block;
	border: groove rgba(4,255,25,0);
}
.categ_list li:hover{
	background-color: wheat;
	border-color: #c7ddef;
}
.categ_list .left{
	margin-left: 10px;
}
.categ_list .right{
	margin-right: 5px;
	float: right;
	display: inline;
}
/*- 日期分类法 -*/
.date_list{
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Verdana, Aril", "Raleway","sans-serif";
	font-size: 18px;
	width: 100%;
	height: auto;
	margin: 0 0 0 0px;
	padding: 0;
}
.date_list li{
	width: 100%;
	display: block;
	border: groove rgba(4,255,25,0);
}
.date_list li:hover{
	background-color: turquoise;
	border-color: #c7ddef;
}
.date_list .left{
	margin-left: 10px;
}
.date_list .right{
	margin-right: 5px;
	float: right;
}
/* 标签分类*/

#tags label{ color:#333333; text-decoration:none;}
#tags label{height:26px; line-height:26px;padding-right:6px;font-size:20px}
#tags .tags0{}
#tags .tags1{color:#C00; font-size:24px;}
#tags .tags2{color:#030; font-size:16px;}
#tags .tags3{color:#00F;}
#tags .tags4{ font-size:16px;}
#tags .tags5{color:#C00; font-size:20px;}
#tags .tags6{color:#F06; font-size:20px;}
#tags .tags7{color:#030; font-weight:bold; font-size:18px;}
#tags .tags8{color:#F06; font-weight:bold;}
#tags .tags9{color:#C00; font-weight:bold;font-size:16px;}
#tags .tags10{color:#090; font-weight:bold;font-size:18px;}
#tags .tags11{color:#09F;}
#tags .tags12{color:#F90;font-size:14px;}
#tags label:hover{ color:#F00; text-decoration:underline;}

/*- 推荐文章 -*/

.art_item_good {
	display: table;
	margin: 0 0 10px 0;
	border-bottom: 1px solid;
	border-color: #E4E4E4;
	padding-bottom: 0px;
	width: 100%;
}
.art_item_good:last-child {
	border-bottom: none;
	padding-bottom: 0px;
	margin: 0px;
}
.art_item_good .art_item_good_img {
	float: left;
	width: 90px;
	vertical-align: middle;
	position: relative;
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.art_item_good_img a img{
	width: 90px;
	height: 60px;
}

.art_item_good .art_item_good_info {
	overflow: hidden;
	margin-top: 10px;
	margin-bottom: 10px;
}
.art_item_good h2 {
	font-family: "Microsoft YaHei UI";
	margin: 0;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
}
.art_item_good h2 a {
	color: #160e4a;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.art_item_good h2 a:hover {
	color: #969696;
}
.art_item_good .art_item_good_meta {
	margin-top: 5px;
	font-weight: 400;
	font-size: 11px;
	color: #11172e;
	font-family: "Lora";
	font-style: italic;
}
.art_item_good .art_item_good_meta span {
	margin-right: 8px;
}
.art_item_good .art_item_good_meta span a {
	color: #051429;
}

.art_item_good .art_item_good_meta span a:hover {
	color: #449d44;
}

/*- Footer -*/
footer {
	padding: 0;
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #717171;
	text-align: center;
	border-top: 1px solid #CECECE;
}
footer .footer-socials {
	margin: 60px 0 20px;
}
/*footer .footer-socials a {
	display: inline-block;
	margin-right: 5px;
	background-color: #626165;
	color: #fff;
	/* padding: 20px; */
	/*
	font-size: 20px;
	line-height: 45px;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
footer .footer-socials a:hover {
	background-color: #dddddd;
}
*/
footer .footer-bottom {
    padding: 10px 0 10px;
    font-family: "Microsoft YaHei UI";
}
/*- about -*/
.blog-about h2{
    font-family: "Microsoft YaHei UI", "Raleway", Sans-serif;
    text-align: center;
    font-size: 40px;
}

.page {
	display: none;
}
.blog-about p{
    font-family: "Raleway", Sans-serif;
    text-align: left;
    font-size: 18px;
}
.article_pre_next{
	margin-top: 30px;
}
.article_pre_next span{
	display: inline-block;
	background-color: grey;
	color: white;
	text-align: center;
	padding: 1px 5px;
	margin: 1px 5px 0 1px;
	font-size: 16px;
}

.article_pre_next span:hover{
	background-color: red;
}

.article_pre_next li a{
	font-size: 16px;
}

#articleComment p{
	margin-bottom: 1px;
}
#articleComment input{
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Verdana, Aril", "Raleway", "sans-serif";
    font-size: 16px;
    margin-left: 0;
	margin-bottom: 20px;
    display: block;
    text-align: center;
    width: 60px;
    height: 25px;
}

.comments-list .base_li{
    display: inline-block;
    width: 100%;
    background-color: whitesmoke;
    margin-bottom: 5px;
}

.comments-list .relpy_li {
    width: 90%;
    float: right;
    background-color: ivory;
}

.comments-list li span{
    margin-left: 10px;
}

.comments-list .username{
    color: #1ABC9C;
    background-color: wheat;
    margin-bottom: 3px;
}

.comments-list .comment-footer{
    text-align: right;
    margin: 2px 5px 0 0;
    padding-bottom: 0px;
    vertical-align: middle;
    height: 22px;
    color: grey;
    font-style: italic;
}

.comments-list .comment-footer a{
    color: grey;
    margin-left: 10px;
}
.comments-list .comment-footer a:hover{
    color: #46b8da;
}


.comments-list .comment-body{
    margin: 0 0 0 4px;
    font-size: 16px;
}
}