{% extends 'base.html' %}

{% load staticfiles %}

{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#	<head>#}
{#		<meta charset="utf-8">#}
{#		<meta http-equiv="X-UA-Compatible" content="IE=edge">#}
{#		<meta name="viewport" content="width=device-width, initial-scale=1">#}
{#		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->#}
{#		<meta name="description" content="">#}
{#		<meta name="author" content="">#}
{#		<link rel="icon" href="favicon.ico">#}
{#		<title>About me!</title>#}
{#		<!-- Bootstrap core CSS -->#}
{#		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">#}
{#		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">#}
{#		<!-- Custom styles for this template -->#}
{#		<link href="{% static 'css/jquery.bxslider.css' %}" rel="stylesheet">#}
{#		<link href="{% static 'css/style.css' %}" rel="stylesheet">#}
{#        <style type="text/css">#}
{#            h2{#}
{#                font-size: 18px;#}
{#            }#}
{#        </style>#}
{#	</head>#}
{#	<body>#}
{#		<!-- Navigation -->#}
{#		<nav class="navbar navbar-inverse navbar-fixed-top">#}
{#			<div class="container">#}
{#                {% include "header.html" %}#}
{#				</div>#}
{#				<!--/.nav-collapse -->#}
{#			</div>#}
{#		</nav>#}
{##}
{#		<div class="container">#}
{#		<header>#}
{#			<a href="/"><img src="{% static 'images/logo.png' %}"></a>#}
{#		</header>#}
        {% block art_content %}
            <section>
                <div class="row">
                    <div class="col-md-12">
                        <article class="blog-about">
                            <div class="blog-about-body">
                                <h2>{{ about.about_title }}</h2>
                                <div class="blog-about-text">
                                    {{ about.about_info }}
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
		    </section>
        {% endblock %}

{#		</div><!-- /.container -->#}
{##}
{#		<footer class="footer">#}
{#			<div class="footer-bottom">#}
{#				{% include "footer.html" %}#}
{#			</div>#}
{#		</footer>#}
{##}
{#		<!-- Bootstrap core JavaScript#}
{#			================================================== -->#}
{#		<!-- Placed at the end of the document so the pages load faster -->#}
{#	</body>#}
{#</html>#}