<!-- article_list.html -->
{% load staticfiles %}
{% for article in articles %}
<article class="art-item">
    <div class="art_item_img">
        <a href="/article/{{ article.pub_date | date:'Ym' }}/{{ article.id }}/"><img src="{{ article.head_img.url }}" alt=""></a>
    </div>
    <div class="art_item_info">
        <dl>
            <dd>
                <h2><a href="/article/{{ article.pub_date | date:'Ym' }}/{{ article.id }}/">
{{ article.title }} </a>
                </h2>
            </dd>
            <dd class="art_item_desc">
                <p>
                    {{ article.desc }}
                </p>
            </dd>
        </dl>
    </div>
    <div class="art_item_meta"><span style="float: left;text-align: center;display: block;padding-left: 5px;font-weight: 400;padding-right: 5px;background-color: #c7ddef"><a>{{ article.category}}</a></span><i class="fa fa-user-circle-o"></i><a href="/about">{{ article.user.alias }}</a><span></span><i class="fa fa-clock-o"></i>{{ article.pub_date }}<span></span><span><i class="fa fa-eye"></i>{{ article.click_count }}</span><span></span><i class="fa fa-comment-o"></i><a href="/article/{{ article.pub_date | date:'Ym' }}/{{ article.id }}/">{{ article.comment_set.count }}</a></span>
    </div>
</article>
{% endfor %}


{#<div class="pagelist">#}
{#    <em>共{{ articles.paginator.num_pages }}页</em>#}
{#    <a href="?page=1">首页</a>#}
{#    {% if articles.has_previous %}#}
{#        <a href="?page={{ articles.previous_page_number }}">上一页</a>#}
{#        {% else %}#}
{#        <em>上一页</em>#}
{#    {% endif %}#}
{#    {% for page in articles.paginator.page_range %}#}
{#        {% if articles.number == page %}#}
{#            <em>{{ articles.number }}</em>#}
{#            {% else %}#}
{#            <a href="?page={{page }}">{{page }}</a>#}
{#        {% endif %}#}
{#    {% endfor %}#}
{##}
{#    {% if articles.has_next %}#}
{#    <a href="?page={{ articles.next_page_number }}">下一页</a>#}
{#        {% else %}#}
{#        <em>下一页</em>#}
{#    {% endif %}#}
{#    {% if articles.end_index|add:'-1' == 1 %}#}
{#        <em>尾页</em>#}
{#        {% else %}#}
{#        <a href="?page={{ articles.end_index|add:'-1'}}">尾页</a>#}
{#    {% endif %}#}
{#</div>#}