{% extends "base.html" %}
{% load staticfiles %}
{% block comstom_css %}
    <link rel="stylesheet" href="{% static 'css/cstyle.css' %}">
    <link rel="stylesheet" href="{% static 'css/comment.css' %}">
{% endblock %}

{% block title %}Welcome | Tlan's Blog{% endblock %}
{% block art_content %}
    <article class="art-detail">
        <div class="art-detail-body">
            <div class="art-detail-title"><h2>{{ article.title }}</h2></div>

            <div class="art-meta"><span><i class="fa fa-user-circle-o"></i><a href="/about">{{ article.user.alias }}</a></span><span><i class="fa fa-clock-o"></i>{{ article.pub_date }}</span><span><i class="fa fa-eye"></i>{{ article.click_count }}</span><span><i class="fa fa-comment-o"></i><a href="#input_comment">{{ article.comment_set.count }}</a></span></div>
            <div class="art-detail-text">
                {{ article.content | safe}}
            </div>
        </div>
    </article>
    <ul class="article_pre_next">
        {% if article_pre != None %}
        <li class="prev_article"><span onclick="location.href='/article/{{ article_pre.pub_date | date:'Ym' }}/{{ article_pre.id }}/';"><i class="fa fa-chevron-up"></i>上一篇</span><a href="/article/{{ article_pre.pub_date | date:'Ym' }}/{{ article_pre.id }}/">{{ article_pre.title }}</a></li>
        {% endif %}
        {% if article_next != None %}
        <li class="prev_article"><span onclick="location.href='/article/{{ article_next.pub_date | date:'Ym' }}/{{ article_next.id }}/';"><i class="fa fa-chevron-down"></i>下一篇</span><a href="/article/{{ article_next.pub_date | date:'Ym' }}/{{ article_next.id }}/">{{ article_next.title }}</a></li>
        {% endif %}
    </ul>
    <div style="clear:both; height:20px;"></div>
    <div id="comment_frame">
	    <div class="with-line">评论区域</div>
    </div>
    <div class="commentAll">
    <!--回复区域 begin-->
    <div class="comment-show">
        {% for comment in comments %}
        <div class="comment-show-con clearfix">
            <div class="comment-show-con-img pull-left"><img src="{% static 'css/images/anonymous.png' %}" alt=""></div>
            <div class="comment-show-con-list pull-left clearfix">
                <div class="pl-text clearfix">
                    <a href="#" class="comment-size-name" name="{{ comment.id }}">{{ comment.username }} : </a>
                    <span class="my-pl-con">&nbsp;{{ comment.content }}</span>
                </div>
                <div class="date-dz">
                    <span class="date-dz-left pull-left comment-time">{{ comment.pub_date|date:'Y-m-d H:i:s' }}</span>
                    <div class="date-dz-right pull-right comment-pl-block">
                        <a href="javascript:;" class="removeBlock">删除</a>
                        <a href="javascript:;" class="date-dz-pl pl-hf hf-con-block pull-left">回复</a>
                        <span class="pull-left date-dz-line">|</span>
                        <a href="javascript:;" class="date-dz-z pull-left"><i class="date-dz-z-click-red"></i>赞 (<i class="z-num">{{ comment.like }}</i>)</a>
                    </div>
                </div>
                <div class="hf-list-con" style="display: block;">
                    {% for child_c in comment.child_comment %}
                        <div class="all-pl-con"><div class="pl-text hfpl-text clearfix"><a href="#" name="{{ child_c.id }}" class="comment-size-name">{{ child_c.username }} : </a><span class="my-pl-con">{% if child_c.atName %}回复<a href="#" class="atName">@{{ child_c.atName }} </a> :{% endif %}  {{ child_c.content }}</span></div><div class="date-dz"> <span class="date-dz-left pull-left comment-time">{{ child_c.pub_date|date:'Y-m-d H:i:s' }}</span> <div class="date-dz-right pull-right comment-pl-block"> <a href="javascript:;" class="removeBlock">删除</a> <a href="javascript:;" class="date-dz-pl pl-hf hf-con-block pull-left">回复</a> <span class="pull-left date-dz-line">|</span> <a href="javascript:;" class="date-dz-z pull-left"><i class="date-dz-z-click-red"></i>赞 (<i class="z-num">{{ child_c.like }}</i>)</a> </div> </div></div>
                    {% endfor %}
                </div>

{#                    <div class="hf-list-con"></div>#}

            </div>
        </div>
        {% endfor %}
    </div>
    <!--回复区域 end-->
        <!--评论区域 begin-->
    <div class="reviewArea clearfix">
        <textarea class="content comment-input" id="input_comment" placeholder="请在此输入评论内容&hellip;" onkeyup="keyUP(this)"></textarea>
        <a href="javascript:;" class="plBtn">评论</a>
    </div>
    <!--评论区域 end-->
</div>
{% endblock %}
{% block comstom_js %}
    <script type="text/javascript" src="{% static 'js/jquery.flexText.js'%}"></script>
    <script type="text/javascript">
    $(function () {
        $('.content').flexText();
    });
</script>
<!--textarea限制字数-->
<script type="text/javascript">
    function keyUP(t){
        var len = $(t).val().length;
        if(len > 139){
            $(t).val($(t).val().substring(0,140));
        }
    }
</script>
<!--点击评论创建评论条-->
<script type="text/javascript">
    $('.commentAll').on('click','.plBtn',function(){
{#        var myDate = new Date();#}
{#        //获取当前年#}
{#        var year=myDate.getFullYear();#}
{#        //获取当前月#}
{#        var month=myDate.getMonth()+1;#}
{#        //获取当前日#}
{#        var date=myDate.getDate();#}
{#        var h=myDate.getHours();       //获取当前小时数(0-23)#}
{#        var m=myDate.getMinutes();     //获取当前分钟数(0-59)#}
{#        if(m<10) m = '0' + m;#}
{#        var s=myDate.getSeconds();#}
{#        if(s<10) s = '0' + s;#}
        //var now=year+'-'+month+"-"+date+" "+h+':'+m+":"+s;
        var oThis = $(this);
        var now = "";
        //获取输入内容
        var oSize = $(this).siblings('.flex-text-wrap').find('.comment-input').val();
        //console.log(oSize);
        var article = {{ article.id }};
        //动态创建评论模块
        var like = "";
        var oHf = "";
        var name = "";
        //console.log(article);
        if(oSize.replace(/(^\s*)|(\s*$)/g, "") != ''){
            var data_comment={
                'article': article,
                'pid': "",
                'oHfName':"",
                'content': oSize,
            };
            $.ajax({
                type:"POST",
                url: "/comment/add/",
                data: data_comment,
                dataType:"json",
                success:function (data) {
                    //console.log(data);
                    oHf = data.hfName;
                    like = data.like;
                    now = data.hfTime;
                    name = data.id;
                    //console.log(oHf + like + name);
                    oHtml = '<div class="comment-show-con clearfix"><div class="comment-show-con-img pull-left"><img src="{% static '/css/images/anonymous.png' %}" alt=""></div> <div class="comment-show-con-list pull-left clearfix"><div class="pl-text clearfix"> <a href="#" class="comment-size-name" name="'+name+'">'+ oHf+' : </a> <span class="my-pl-con">&nbsp;'+ oSize +'</span> </div> <div class="date-dz"> <span class="date-dz-left pull-left comment-time">'+now+'</span> <div class="date-dz-right pull-right comment-pl-block"><a href="javascript:;" class="removeBlock">删除</a> <a href="javascript:;" class="date-dz-pl pl-hf hf-con-block pull-left">回复</a> <span class="pull-left date-dz-line">|</span> <a href="javascript:;" class="date-dz-z pull-left"><i class="date-dz-z-click-red"></i>赞 (<i class="z-num">'+like+'</i>)</a> </div> </div><div class="hf-list-con"></div></div> </div>';
                    //console.log(oHtml);
                    oThis.parents('.reviewArea ').siblings('.comment-show').prepend(oHtml);
                    //console.log($(this).parents('.reviewArea ').html());
                    oThis.siblings('.flex-text-wrap').find('.comment-input').prop('value','').siblings('pre').find('span').text('');
                }
            });
        }
    });
</script>
<!--点击回复动态创建回复块-->
<script type="text/javascript">
    $('.comment-show').on('click','.pl-hf',function(){
        //获取回复人的名字
        var fhName = $(this).parents('.date-dz-right').parents('.date-dz').siblings('.pl-text').find('.comment-size-name').html();
        //回复@
        var fhN = '回复@'+fhName;
        //var oInput = $(this).parents('.date-dz-right').parents('.date-dz').siblings('.hf-con');
        var fhHtml = '<div class="hf-con pull-left"> <textarea class="content comment-input hf-input" placeholder="" onkeyup="keyUP(this)"></textarea> <a href="javascript:;" class="hf-pl">评论</a></div>';
        //显示回复
        if($(this).is('.hf-con-block')){
            $(this).parents('.date-dz-right').parents('.date-dz').append(fhHtml);
            $(this).removeClass('hf-con-block');
            $('.content').flexText();
            $(this).parents('.date-dz-right').siblings('.hf-con').find('.pre').css('padding','6px 15px');
            //console.log($(this).parents('.date-dz-right').siblings('.hf-con').find('.pre'))
            //input框自动聚焦
            $(this).parents('.date-dz-right').siblings('.hf-con').find('.hf-input').val('').focus().val(fhN);
        }else {
            $(this).addClass('hf-con-block');
            $(this).parents('.date-dz-right').siblings('.hf-con').remove();
        }
    });
</script>
<!--评论回复块创建-->
<script type="text/javascript">
    $('.comment-show').on('click','.hf-pl',function(){
{#        var myDate = new Date();#}
{#        //获取当前年#}
{#        var year=myDate.getFullYear();#}
{#        //获取当前月#}
{#        var month=myDate.getMonth()+1;#}
{#        //获取当前日#}
{#        var date=myDate.getDate();#}
{#        var h=myDate.getHours();       //获取当前小时数(0-23)#}
{#        var m=myDate.getMinutes();     //获取当前分钟数(0-59)#}
{#        if(m<10) m = '0' + m;#}
{#        var s=myDate.getSeconds();#}
{#        if(s<10) s = '0' + s;#}
        var oThis = $(this);
        var now="";
        //获取输入内容
        var oHfVal = $(this).siblings('.flex-text-wrap').find('.hf-input').val();
        var oHfName = $(this).parents('.hf-con').parents('.date-dz').siblings('.pl-text').find('.comment-size-name').html();
        var oAllVal = '回复@'+oHfName;
        var content = oHfVal.replace(oAllVal, "");
        //var pidName = $(this).parents('.hf-con').parents('.date-dz').parent('.all-pl-con').parent('.hf-list-con').siblings('.pl-text').find('.comment-size-name').html();
        //var pidName = $(this).closest('.comment-show-con-list').children('.pl-text').find('.comment-size-name').html();
        var pid = $(this).closest('.comment-show-con-list').children('.pl-text').find('.comment-size-name').attr('name');
        var article = {{ article.id }};

        if(oHfVal.replace(/^ +| +$/g,'') == '' || oHfVal == oAllVal){

        }else {
            var data_comment={
                'article': article,
                'pid': pid,
                'oHfName':oHfName.replace(" : ",""),
                'content': content,
            };
            $.ajax({
                type:"POST",
                url: "/comment/add/",
                data: data_comment,
                dataType:"json",
                success:function (data) {
                    var oAt = '';
                    var oHf = '';
                    var like = 0;
                    var name = "";
                    $.each(data,function(n,v){
                        delete v.hfContent;
                        delete v.atName;
                        var arr;
                        var ohfNameArr;
                        if(oHfVal.indexOf("@") == -1){
                            data['atName'] = '';
                            data['hfContent'] = oHfVal;
                        }else {
                            arr = oHfVal.split(':');
                            ohfNameArr = arr[0].split('@');
                            data['hfContent'] = arr[1];
                            data['atName'] = ohfNameArr[1];
                        }

                        if(data.atName == ''){
                            oAt = data.hfContent;
                        }else {
                            oAt = '回复<a href="#" class="atName">@'+data.atName+'</a> : '+data.hfContent;
                        }
                        oHf = data.hfName;
                        like = data.like;
                        now = data.hfTime;
                        name = data.id;
                    });

                    var oHtml = '<div class="all-pl-con"><div class="pl-text hfpl-text clearfix"><a href="#" name="'+name+'" class="comment-size-name">'+ oHf +' : </a><span class="my-pl-con">'+oAt+'</span></div><div class="date-dz"> <span class="date-dz-left pull-left comment-time">'+now+'</span> <div class="date-dz-right pull-right comment-pl-block"> <a href="javascript:;" class="removeBlock">删除</a> <a href="javascript:;" class="date-dz-pl pl-hf hf-con-block pull-left">回复</a> <span class="pull-left date-dz-line">|</span> <a href="javascript:;" class="date-dz-z pull-left"><i class="date-dz-z-click-red"></i>赞 (<i class="z-num">'+like+'</i>)</a> </div> </div></div>';
                    oThis.parents('.hf-con').parents('.comment-show-con-list').find('.hf-list-con').css('display','block').prepend(oHtml) && oThis.parents('.hf-con').siblings('.date-dz-right').find('.pl-hf').addClass('hf-con-block') && oThis.parents('.hf-con').remove();
                    }
            });
        }
    });
</script>
<!--删除评论块-->
<script type="text/javascript">
    $('.commentAll').on('click','.removeBlock',function(){
        var oT = $(this).parents('.date-dz-right').parents('.date-dz').parents('.all-pl-con');
        var thisNode = $(this);
        var comment_id = "";
        var comment_name = "";
        comment_name = $(this).parents('.date-dz-right').parents('.date-dz').siblings('.pl-text').find(".comment-size-name").attr('name');

        //get comment id to post
        if(comment_name != 'undefined' && comment_name.length>0){
            comment_id = comment_name;
        }else {
            comment_id = $(this).closest('.comment-show-con-list').children('.pl-text').find('.comment-size-name').attr('name');
        }
        //ajax to post data
        $.ajax({
            type:'POST',
            url:'/comment/del/',
            data:{'comment_id':comment_id},
            dataType:'json',
            success:function (data) {
                if(data.is_ok=='1'){
                    //console.log(data);
                    if(oT.siblings('.all-pl-con').length >= 1){
                        oT.remove();
                    }else {
                        thisNode.parents('.date-dz-right').parents('.date-dz').parents('.all-pl-con').parents('.hf-list-con').css('display','none');
                        oT.remove();
                    }
                    thisNode.parents('.date-dz-right').parents('.date-dz').parents('.comment-show-con-list').parents('.comment-show-con').remove();
                    //console.log(comment_id);
                    //console.log(comment_id.length);
                }else {
                    alert('您无法删除此条评论，请联系博主！');
                }
            }
        });
    })
</script>
<!--点赞-->
<script type="text/javascript">
    $('.comment-show').on('click','.date-dz-z',function(){
        var thisNode = $(this);
        var zNum = $(this).find('.z-num').html();
        var comment_id = $(this).closest('.date-dz').siblings('.pl-text').find('.comment-size-name').attr('name');
        console.log(comment_id);
        if(thisNode.is('.date-dz-z-click')){
            zNum--;
        }else {
            zNum++;
        }
        $.ajax({
            type:'POST',
            url:'/comment/like/',
            data:{'comment_id':comment_id, 'like':zNum},
            dataType:'json',
            success:function (data) {
                if(thisNode.is('.date-dz-z-click')){
                    thisNode.removeClass('date-dz-z-click red');
                    thisNode.find('.z-num').html(data.like);
                    thisNode.find('.date-dz-z-click-red').removeClass('red');
                }else {
                    thisNode.addClass('date-dz-z-click');
                    thisNode.find('.z-num').html(data.like);
                    thisNode.find('.date-dz-z-click-red').addClass('red');
                }
            }
        });
    })
</script>
{% endblock %}