{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="edge">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name=”renderer” content=”webkit|ie-comp|ie-stand”>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">
        <link rel="icon" href="favicon.ico">
		<title>{% block title %}{% endblock %}</title>
		<!-- Bootstrap core CSS -->
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<!-- Custom styles for this template -->
		<link href="{% static 'css/jquery.bxslider.css' %}" rel="stylesheet">
		<link href="{% static 'css/style.css' %}" rel="stylesheet">
        <link href="{% static 'css/page.css' %}" rel="stylesheet">
        {% block comstom_css %}{% endblock %}
	</head>
	<body>
		<!-- Navigation -->
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
                {% include "header.html" %}
				<!--/.nav-collapse -->
			</div>
		</nav>

		<div class="container" style="margin-top: 56px">
{#            <header>#}
{#			    <a href="index.html"><img src="{% static 'images/logo.png' %}"></a>#}
{#		    </header>#}
            <section class="main-slider">
                {% block nav_slider %}{% endblock %}
	        </section>
            <section>
                <div>
                    <div class="row">
                        <div class="col-md-8">
                        {% block art_content %}
                        {% endblock %}
                        </div>
                        <div class="col-md-4 sidebar-gutter">
                            {% include "right_side.html" %}
                        </div>
                    </div>
                </div>
            </section>
		</div><!-- /.container -->

		<footer class="footer">
			<div class="footer-bottom">
				{% include "footer.html" %}
			</div>
		</footer>
		<!-- Bootstrap core JavaScript
			================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/jquery.min.map' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/jquery.bxslider.js' %}"></script>
		<script src="{% static 'js/mooz.scripts.min.js' %}"></script>
{#        <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>#}
        <script src="{% static 'js/page.js' %}"></script>
        <script src="{% static 'js/getArticles.js' %}"></script>
        <script src="{% static 'js/tags.js' %}"></script>

        {% block comstom_js %}{% endblock %}
	</body>
</html>