{% extends "base.html" %}

{% load staticfiles %}
{% block title %}Welcome | Tlan's Blog{% endblock %}
{% block nav_slider %}
    {% include 'slider_bar.html' %}
{% endblock %}
{% block art_content %}
<div class="searchInfo"></div>
<div class="art_list"></div>
<div class="page">
    <ul class="pageMenu clearfix">
        <li class="firstPage">首页</li>
        <li class="prevPage"> < 上一页 </li>
        <div class="pageObj">
        </div>
        <li class="nextPage"> 下一页 > </li>
        <li class="lastPage" title="">尾页</li>
        <li class="jumpTo">跳转</li>
        <li class="last" style="height: 32px">
        <input type="number" class="keuInput" value="1"/>
        </li>
    </ul>
</div>
{% endblock %}
{% block comstom_js %}
    <script type="text/javascript">
    initArticlePage("index","");
    </script>
{% endblock %}

