<!-- rigt_side.html -->
{% load staticfiles %}

<aside>
    <div class="sidebar-widget-search">
        <h3 class="sidebar-title">博文搜索</h3>
        <div class="search-container">
              <input id="searchText" placeholder="搜索从这里开始..." type="text"/>
              <button class="search-button" type="submit"/>
        </div>
    </div>
    <!-- sidebar-widget -->
    <div class="sidebar-widget-other">
        <h3 class="sidebar-title">文章分类</h3>
        <div class="widget-container">
             <div class="categ_list">
            {% for category in categorys %}
                {% if category.article_set.count > 0 %}
                <li title="{{ category.name }}"><i class="fa fa-folder-o"></i><span class="left">{{ category.name }}</span><span class="right"><i class="fa fa-flag"></i>{{ category.article_set.count }}</span></li>
                {% endif %}
            {% endfor %}
             </div>
        </div>
    </div>

    <!-- sidebar-widget -->
    <div class="sidebar-widget-other">
        <h3 class="sidebar-title">日期分类</h3>
        <div class="widget-container">
            <div class="date_list">
            {% for t_category in date_category %}
               <li title="{{ t_category.pub_time | date:'Y-m' }}"><i class="fa fa-calendar-check-o"></i><span class="left">{{ t_category.pub_time | date:'Y年m月' }}</span><span class="right"><i class="fa fa-flag"></i>{{ t_category.count }}</span></li>
            {% endfor %}
            </div>
        </div>
    </div>
    <!-- sidebar-widget -->
    <div class="sidebar-widget-other" id = sidebar-tags>
        <h3 class="sidebar-title">标签检索</h3>
        <div class="widget-container" id = "tags">
            {% for tag in tags %}
                <label class="">{{ tag.name }}</label>
            {% endfor %}
        </div>
    </div>
    <!-- sidebar-widget -->
    <div class="sidebar-widget-other">
        <h3 class="sidebar-title">推荐阅读</h3>
        <div class="widget-container">
            {% for article in articles_rec %}
            <article class="art_item_good">
                <div class="art_item_good_img">
                    <a href="article.html"><img src="{{ article.head_img.url }}" alt=""></a>
                </div>
                <div class="art_item_good_info">
                    <h2><a href="/article/{{ article.pub_date | date:'Ym' }}/{{ article.id }}/">{{ article.title }}</a></h2>
                    <div class="art_item_good_meta">
                        <span style="float: left;text-align: center;display: block;padding-left: 5px;font-weight: 400;padding-right: 5px;background-color: #c7ddef"><a href="/about">{{ article.category}}</a></span><span><i class="fa fa-clock-o"></i>{{ article.pub_date | date:"Y-m-d" }}</span><span><i class="fa fa-eye"></i>{{ article.click_count }}</span><span><i class="fa fa-comment-o"></i><a href="/article/{{ article.pub_date | date:'Ym' }}/{{ article.id }}/">{{ article.comment_set.count }}</a></span>
                    </div>
                </div>
            </article>
            {% endfor %}
        </div>
    </div>
</aside>