<!-- slider_bar.html -->
{% load staticfiles %}
<ul class="bxslider">
    {% for slider_a in slider_as %}
    <li><div class="slider-item"><a href="/sliders/{{ slider_a.pub_date | date:'Ym' }}/{{ slider_a.id }}/"><img src="{{ slider_a.head_img.url }}" title="{{ slider_a.title }}" /></a><h2><a href="/sliders/{{ slider_a.pub_date | date:'Ym' }}/{{ slider_a.id }}/" alt="{{ slider_a.title }}">{{ slider_a.title }}</a></h2></div></li>
    {% endfor %}
</ul>