<!-- name.html -->
<!DOCTYPE html>
<html>
<head>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>just for test</title>
    <style>
        .categ_list {
            font-family: "Raleway", Sans-serif;
            font-size: 18px;
            width: 325px;
            height: auto;
            margin: 0 0 0 0px;
            padding: 0;
        }
        .categ_list li{
            width: 100%;
            display: block;
            border: groove rgba(4,255,25,0);
        }
        .categ_list li:hover{
            background-color: wheat;
            border-color: #c7ddef;
        }
        .categ_list .left{
            margin-left: 10px;
        }
        .categ_list .right{
            margin-right: 50px;
            float: right;
        }
        .date_list{
            font-family: "Raleway", Sans-serif;
            font-size: 18px;
            width: 325px;
            height: auto;
            margin: 0 0 0 0px;
            padding: 0;
        }
        .date_list li{
            width: 100%;
            display: block;
            border: groove rgba(4,255,25,0);
        }
        .date_list li:hover{
            background-color: turquoise;
            border-color: #c7ddef;
        }
        .date_list .left{
            margin-left: 10px;
        }
        .date_list .right{
            margin-right: 50px;
            float: right;
        }
    </style>
    <style>
    	ul,li{margin: 0;padding: 0;list-style: none;}
    	.pageMenu li::selection{background:transparent;}
    	.clearfix{zoom:1;}
		.clearfix:after{content:"";display: block;clear: both;}
		.pageDiv li{margin-bottom: 10px;border:1px solid #dbdbdb;width: 21.5%;margin-right: 1.25%;float:left;margin-top: 10px;padding: 1%;text-align: center;}
		.hide{display: none;}
		.notContent{padding: 15px 0;text-align: center;}

		.page{text-align: center;width: 100%;margin: 0 auto;}
		.pageMenu{display: inline-block;width: 90%;}

		.pageMenu li{border: solid thin #ddd;margin: 3px;float: left;padding: 5px 10px;cursor: pointer;background: #fff;}
		.pageMenu li.firstPage{}
		.pageMenu li.prevPage{}
		.pageMenu li.pageNum{}
		.pageMenu li.nextPage{}
		.pageMenu li.lastPage{}
		.pageMenu li.disabled{ background-color: #DDDDDD;   cursor: not-allowed;}
		.pageMenu li.active{ border: solid thin #0099FF;background-color: #0099FF;color: white;}
		.pageMenu li.last{background: transparent;border:0;position: relative;top: -4px;}
		.page .keuInput{padding: 0 5px;width: 30px;border: solid thin #ddd;height: 29px;outline: none;text-align: center;font-size: 16px;}
		.page .btnSure{padding: 4px 8px;border: solid thin #ddd;outline: none;text-align: center;font-size: 16px;background: #fff;position: relative;top: 2px;}
		.page .btnSure:hover{cursor: pointer;}
	</style>
</head>
<body>
<div class="categ_list">
    <li><i class="fa fa-folder-o"></i><span class="left">python</span><span class="right"><i class="fa fa-flag"></i>10</span></li>
    <li><i class="fa fa-folder-o"></i><span class="left">C++</span><span class="right"><i class="fa fa-flag"></i>10</span></li>
    <li><i class="fa fa-folder-o"></i><span class="left">Json</span><span class="right"><i class="fa fa-flag"></i>10</span></li>

</div>
<div class="date_list">
    <li><i class="fa fa-calendar-check-o"></i><span class="left">2015年06月</span><span class="right"><i class="fa fa-flag"></i>10</span></li>
    <li><i class="fa fa-calendar-check-o"></i><span class="left">2015年06月</span><span class="right"><i class="fa fa-flag"></i>10</span></li>

</div>

<div class="page">
    <ul class="pageMenu clearfix">
        <li class="firstPage">首页</li>
        <li class="prevPage"> < 上一页 </li>
        <div class="pageObj ">
        </div>
        <li class="nextPage"> 下一页 > </li>
        <li class="lastPage">尾页</li>
        <li class="last" style="font-size: 14px;">
            共<span class="totalPage"></span>页，跳转至 <input type="number" class="keuInput" value="1">
            <button type="button" class="btnSure">确定</button>
        </li>
    </ul>
     <div class="search-container">
          <input class="searchText" placeholder="搜索从这里开始..." type="text">
          <button class="search-button" type="submit"/>
     </div>
    <script type="text/javascript">
        $("input").val("23423432");
        $(".search-button").click(function () {
            alert($("input").val());
        });
    </script>



    <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
    <script src="{% static 'js/page_otherway.js' %}"></script>
    <script>
    	$(function(){
    		$(".pageBox").pageFun({  /*在本地服务器上才能访问哦*/
    			interFace:"",  /*接口*/
    			displayCount:4,  /*每页显示总条数*/
    			maxPage:5,/*每次最多加载多少页*/
    			dataFun:function(data){
    				var dataHtml = '<li>'+data.dataNum+'</li>';
    					return dataHtml;
    			},
    			pageFun:function(i){
    				var pageHtml = '<li class="pageNum">'+i+'</li>';
						return pageHtml;
    			}

    		})
    	})
    </script>
</div>
</body>
</html>